.room {
  &-grid {
    width: 70%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 30px;

    a {
      text-decoration: none;
    }
  }

  &-card {
    background-color: gray;
    color: white;
  }
}
