.container {
  &.add-rooms {
    width: 100%;
    max-width: 1440px;
  }
}

.intro-text {
  &.add-rooms {
    text-align: center;
  }
}

.grid {
  &.add-rooms {
    width: 70%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 30px;
    a {
      text-decoration: none;
    }
  }
}

.herocards {
  &.add-rooms {
    height: 200px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
