.recommendations {
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 30px;

    .item {
      background-size: cover;
      width: auto;
      position: relative;
      border-radius: 10px;
      box-shadow: var(--box-shadow);
      border-radius: 10px;
      display: flex;
      flex-direction: column;

      .image-container {
        flex-grow: 1;
        //   display: flex;
        //   align-items: center;
        img {
          max-width: 100%;
          height: auto;
          display: block;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }

      .title {
        background-color: var(--white);
        opacity: 0.8;
        padding: 15px;
        text-align: center;
        color: var(--black);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}
