.recommendations {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    .item {
      background-size: cover;
      height: 300px;
      width: 300px;
      position: relative;

      .title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--brand-primary-200);
        opacity: 0.7;
        padding: 5px;
        text-align: center;
      }
    }
  }
}
