.existing-items {
  .card {
    background-color: grey;
  }
  .container-color {
    display: flex;
    justify-content: center;
    margin: auto;

    .grid {
      width: 60%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
      gap: 5px;
      margin-right: 10px;
    }
    .color {
      width: 80px;
      height: 30px;
    }
    .color-picker {
      background-color: grey;
      width: 40%;
    }
  }

  .container-material {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    gap: 10px;

    .link {
      flex: 1;
    }

    .material {
      height: 120px;
    }
  }
  .grid-one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    .existing-one {
      height: 120px;
      background-color: grey;
    }
  }
}
