footer {
  display: flex;
  justify-content: center;

  > .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;

    a,
    button {
      padding: 10px 20px;
    }
  }
}
