// Variables for use throughout app
:root {
  --brand-primary: #0d4a4a;
  --brand-secondary: #ff942f;
  --link: #ff942f;
  --link-active: #b36318;
  --text: #041a1a;
  --light-text: rgb(236, 236, 236);
  --dark: #041a1a;
  --light: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Domine', serif;
  font-weight: 400;
}

html {
  color: var(--text);
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

*,
before,
after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
