// Variables for use throughout app
:root {
  --brand-primary: #043761;
  --brand-secondary: #ff942f;
  --link: #ff942f;
  --link-active: #b36318;
  --text: rgb(33, 32, 34);
  --light-text: rgb(236, 236, 236);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}

html {
  color: var(--text);
  font-size: 1.125rem;
  font-family: 'Nanum Gothic', sans-serif;
}
