// Variables for use throughout app
:root {
  --brand-primary: #0d4a4a;
  --brand-primary-900: #126363;
  --brand-primary-800: #167d7d;
  --brand-primary-700: #1b9797;
  --brand-primary-600: #1fb0b0;
  --brand-primary-500: #65e4e4;
  --brand-primary-400: #98eded;
  --brand-primary-300: #b2f1f1;
  --brand-primary-200: #ccf6f6;
  --brand-primary-100: #E5FAFAl;
  --black: #020b0b;
  --text: #52575c;
  --inactive: #a0a4a8;
  --default: #cacccf;
  --borders: #dbdde0;
  --disabled: #e8e8e8;
  --gray-bg: #f9f9fa;
  --white: #fff;
  --warning-100: #f8c462;
  --warning-200: #f5a614;
  --warning: #f7b538;
  --positive-100: #2cdd73;
  --positive-200: #1a9e4f;
  --positive: #1eb95c;
  --error-100: #da4b44;
  --error-200: #aa2822;
  --error: #c32f27;
  --link: #0d4a4a;
  --link-active: #b36318;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Domine', serif;
  font-weight: 400;
  color: var(--black);
}

caption,
input {
  color: var(--black-600);
}

html {
  color: var(--text);
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.1px;
  font-family: 'Open Sans', sans-serif;
}

main {
  margin-bottom: 100px;
}

*,
before,
after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
