header {
  display: flex;
  justify-content: center;
  height: 120px;

  > .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .brand {
    padding: 0;

    img {
      max-height: 32px;
      width: auto;
    }
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;

    a,
    button {
      padding: 10px 20px;
    }
  }
}
