.wrapper {
  width: 100%;
  // Changed this to 80vh, hoping to remove. - RA
  // 100vh does 'Header height + 100vh + Footer height', or more than 100vh
  // Header and Footer should not be inside of <main>
  min-height: 80vh;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
