.container {
  &.login {
    width: 70%;
    max-width: 1440px;
    margin: auto;
  }
}

.intro-text {
  &.login {
    text-align: center;
  }
}

.btn-container {
  &.login {
    text-align: center;
    width: 70%;
    max-width: 800px;
    margin: auto;
  }
}

.btn {
  &.login {
    width: 80%;
    margin: 10px;
    padding: 10px;
  }
}
