.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    &__intro {
        max-width: 70%;
        text-align: center;
    }
    &__btn {
        width: 80%;
        margin: 10px;
        padding: 10px;
    }
}