.profile {
  padding: 0 10px;

  .rooms {
    width: 100%;

    .grid {
      border: 1px solid var(--text);
      display: grid;
      grid-template-columns: 3fr repeat(5, 1fr);
      width: 100%;

      &.title {
        font-weight: bold;
      }

      > div {
        padding: 5px 10px;
      }
      &:last-of-type {
        margin-bottom: 50px;
      }
    }
  }
}
