.recommendations {
  .interface {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;

    .current-furniture {
      border: 2px solid red;

      .furniture-item {
        width: 300px;
        height: 300px;
        background-color: var(--brand-primary-400);
        margin-bottom: 2rem;
      }
    }

    .comparison {
      width: 100%;

      border: 2px solid red;
    }

    .results {
      border: 2px solid red;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;

      .result-item {
        height: 150px;
        width: 100%;
        //   background-color: var(--brand-primary-400);
        background-color: var(--white);
        margin-bottom: 2rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border: 1px solid var(--borders);
        box-shadow: var(--box-shadow);
      }
    }
  }
}
